* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h4,
h5 {
  color: white;
  font-weight: bold;
}

body {
  background-color: #212121;
}

header {
  height: 60px;
  background-color: #1a234f;
  padding-left: 30px;
  align-items: center;
  display: flex;
}

.card_container {
  margin-top: 20px;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 100px;
  width: 270px;
  display: flex;
  flex-direction: row;
}

.card i {
  color: #1a234f;
}

.card_icon {
  padding-left: 20px;
  padding-right: 20px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.card_texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card_texts h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card_texts p {
  font-size: 28px;
}

.card_texts h3 {
  font-size: large;
}
